.card {
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex: 1;

  min-width: 100%;
  max-width: 100%;
  width: 100%;
  position: relative;
  @include cardHover;

  @include respond-to(desktop-up) {
    min-width: calc(100% / 4);
    max-width: calc(100% / 4);
    width: calc(100% / 4);
  }
  @include respond-to(widescreen-up) {
    min-width: calc(100% / 4);
    max-width: calc(100% / 4);
    width: calc(100% / 4);
  }

  &-content {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    border: 1px solid white;
    margin-right: 4vw;
    margin-bottom: 6vw;
    min-height: 50vh;
    position: relative;
    width: 100%;
    transition: $transition300;
    &:hover {
      border-color: $magenta;
    }

    @include respond-to(desktop-up) {
      min-height: 25vw;
      padding: 1vw;
    }
    @include respond-to(widescreen-up) {
      min-height: 17vw;
    }
  }

  &-day {
    color: white;
    font-size: 3.34vh;

    @include respond-to(desktop-up) {
      font-size: 1.34vw;
    }
    @include respond-to(widescreen-up) {
      font-size: 0.8vw;
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2vh;
    box-sizing: border-box;
    z-index: 1;

    @include respond-to(desktop-up) {
      padding: 0.5vw 1vw;
    }
  }
}

.card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
