// nav
.nav {
  // display: none;
  // @include respond-to(desktop-up) {

  display: flex;
  flex: 1;
  justify-content: flex-end;
  width: 50vw;

  position: absolute;
  top: 8px;
  right: 0;

  @include respond-to(desktop-up) {
    position: relative;
  }
  &-ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    height: 70px;
    margin-top: 0;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: black;
    margin-bottom: 0;

    @include respond-to(netbook-up) {
      align-items: flex-end;
      background: none;
      flex-direction: column;
      height: auto;
      position: relative;
      left: 0;
      justify-content: center;
      display: inline-flex;
      margin-top: auto;
      width: auto;
      flex-direction: row;
    }

    li {
      @include respond-to(netbook-up) {
        order: 0;
      }
    }
  }
}
// }

.social {
  background-repeat: no-repeat !important;
  height: 20px;
  text-indent: -9999px;
  border-bottom: none;
  transition: none !important;

  @include respond-to(netbook-up) {
    height: 15px;
    margin-right: 0;
  }
  a {
    display: block;
    position: relative;
  }
  &--list-item {
    margin-bottom: 12px;
    margin-top: 12px;
    order: -1;
    padding-left: 20px;

    &:hover,
    &.active {
      border-color: transparent;
    }
    ul {
      align-items: center;
      justify-content: center;
      display: inline-flex;
      padding-left: 0;
    }
    @include respond-to(netbook-up) {
      order: initial;
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 0;
    }
  }
  &-fb {
    background: url('/fb.svg');
    background-size: 20px;
    background-position: 0 0;
    width: 10px;

    @include respond-to(netbook-up) {
      //   background-position: 0 7px;
      //   background-size: 1vw;
      //   width: 0.6vw;
      //   &:hover {
      //     background-position: -0.7vw 7px;
      //   }
    }
  }
  &-in {
    background: url('/insta.svg');
    background-size: 40px;
    background-position: 0 0;
    width: 20px;
    margin-left: 20px;
  }
}
